In [1]:
from sqlalchemy import create_engine
import pymysql
import pandas as pd

conn_engine = create_engine("mysql+pymysql://{User}:{Passwd}@localhost/{db}"
                            .format(User='root',Passwd='Mypassword_23',db='dataanalytics_using_db'))

if conn_engine is not None:
    print("Connected to MySQL database")

df = pd.read_csv("C:/Users/RamyaRajaLakshmi/Downloads/Python/8.Data Base connectivity using python/Data sets/Data.csv")
df.to_sql("df", con = conn_engine, if_exists = "replace", chunksize = None, index = False)

conn_engine.dispose()   #close the connection after finished using it to free up system resources
print("MySQL connection is closed")

Connected to MySQL database
MySQL connection is closed

In [2]:
from sqlalchemy import create_engine
import pymysql
import pandas as pd

conn_engine = create_engine("mysql+pymysql://{User}:{Passwd}@localhost/{db}"
                            .format(User='root',Passwd='Mypassword_23',db='dataanalytics_using_db'))

if conn_engine is not None:
    print("Connected to Database - dataanalytics_using_db")
    
cities = pd.read_csv("C:/Users/RamyaRajaLakshmi/Downloads/Python/8.Data Base connectivity using python/Data sets/Indian_cities.csv")
cities.to_sql("cities", con = conn_engine, if_exists = "replace", chunksize = None, index = False)

query = "SELECT name_of_city, state_name, total_graduates, literates_total FROM cities WHERE total_graduates > 90000 AND literates_total > 100000;"
output = pd.read_sql_query(query, conn_engine)
print(output)

conn_engine.dispose() #close the connection after finished using it to free up system resources
print("MySQL connection is closed")

Connected to Database - dataanalytics_using_db
         name_of_city      state_name  total_graduates  literates_total
0               Agra    UTTAR PRADESH           185813           880530
1          Ahmadabad          GUJARAT           769858          4464303
2            Aligarh    UTTAR PRADESH            99341           533969
3          Allahabad    UTTAR PRADESH           233129           877590
4           Ambattur       TAMIL NADU            97186           401253
..                ...             ...              ...              ...
67          Varanasi    UTTAR PRADESH           172622           859379
68  Vasai Virar City      MAHARASHTRA           129954           987916
69        Vijayawada   ANDHRA PRADESH           135425           789038
70      Visakhapatnam  ANDHRA PRADESH           250549          1298896
71          Warangal   ANDHRA PRADESH           109613           475247

[72 rows x 4 columns]
MySQL connection is closed